* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar-nav > li {
    padding-left: 15px;
    padding-right: 15px;
}

.img1 {
    padding-right: 90px;
   
}

.img2 {

    width: 25px;
    height: 25px;
    margin: 0px 25px 25px 0px;

}

.nav-right {
    position: absolute;
    right: 20px;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
}

.login-signup-btns {
    display: flex;
    flex-direction: row;
}

.profile-btn {
    background: none;
    border: none;
    outline: none;
}

.profile-btn:focus {
    outline: none;
}

.bi-person-fill {
    font-size: 1.8rem;
    cursor: pointer;
}

.profile-btn > .dropdown-toggle:empty::after {
    font-size: 1.1rem;
}

.profile-btn > .dropdown-menu {
    left: -100px;
    top: 40px;
}

.Login {
    margin: 0;
    /* font-size: 8px;
    margin: 0px 0px 0px 80px; */
}

.SignUp {
    /* font-size: 8px;
    margin: 0px 0px 0px 80px; */
}

.dropdown-toggle {
    display: flex;
    align-items: center;
}

.dropdown-genres > .dropdown-menu {
    overflow-y: scroll;
    max-height: 400px;
}

.dropdown-menu-history {
    top: 70px;
}

.signup-login-form {
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.signup-login-form > .form-group {
    text-align: left;
}

.card:hover{
    filter: brightness(0.9);
    cursor: pointer;
}

.card-body > button {
    cursor: pointer;
}

@media (max-width: 992px) {
    .nav-right {
        position: unset;
        margin-left: 15px;
        flex-direction: column;
        align-items: normal;
    }

    .login-signup-btns {
        flex-direction: column;
    }
}