.navbar-nav > li {
    padding-left: 15px;
    padding-right: 15px;
}

.img1 {
    padding-right: 90px;
   
}

.img2 {

    width: 25px;
    height: 25px;
    margin: 0px 25px 25px 0px;

}

.login-signup-container {
    display: flex;
    flex-direction: row;
    margin-left: 59px;
}

.Login {
    margin: 0;
    /* font-size: 8px;
    margin: 0px 0px 0px 80px; */
}

.SignUp {
    /* font-size: 8px;
    margin: 0px 0px 0px 80px; */
}

.dropdown-toggle {
    display: flex;
    align-items: center;
}

.dropdown-menu {
    overflow-y: scroll;
    max-height: 400px;
}

.signup-login-form {
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.signup-login-form > .form-group {
    text-align: left;
}

@media (max-width: 992px) {
    .login-signup-container {
        margin-left: 15px;
        flex-direction: column;
    }
}